SHOW COLUMNS
FROM information_schema.views


Field,Type,Null,Key,Default,Extra
TABLE_CATALOG,varchar(64),NO,,NULL,
TABLE_SCHEMA,varchar(64),NO,,NULL,
TABLE_NAME,varchar(64),NO,,NULL,
VIEW_DEFINITION,longtext,YES,,NULL,
CHECK_OPTION,"enum('NONE','LOCAL','CASCADED')",YES,,NULL,
IS_UPDATABLE,"enum('NO','YES')",YES,,NULL,
DEFINER,varchar(288),YES,,NULL,
SECURITY_TYPE,varchar(7),YES,,NULL,
CHARACTER_SET_CLIENT,varchar(64),NO,,NULL,
COLLATION_CONNECTION,varchar(64),NO,,NULL,
