SHOW COLUMNS
FROM information_schema.routines


Field,          Type,                          Null,Key,Default,Extra
SPECIFIC_NAME,  varchar(64),                   NO,     ,NULL,
ROUTINE_CATALOG,varchar(64),                   NO,     ,NULL,
ROUTINE_SCHEMA, varchar(64),                   NO,     ,NULL,
ROUTINE_NAME,   varchar(64),                   NO,     ,NULL,
ROUTINE_TYPE,   "enum('FUNCTION','PROCEDURE')",NO,     ,NULL,
DATA_TYPE,      longtext,                      YES,    ,NULL,
CHARACTER_MAXIMUM_LENGTH,bigint,YES,,NULL,
CHARACTER_OCTET_LENGTH,bigint,YES,,NULL,
NUMERIC_PRECISION,int unsigned,YES,,NULL,
NUMERIC_SCALE,int unsigned,YES,,NULL,
DATETIME_PRECISION,int unsigned,YES,,NULL,
CHARACTER_SET_NAME,varchar(64),YES,,NULL,
COLLATION_NAME,varchar(64),YES,,NULL,
DTD_IDENTIFIER,longtext,YES,,NULL,
ROUTINE_BODY,varchar(3),NO,,,
ROUTINE_DEFINITION,longtext,YES,,NULL,
EXTERNAL_NAME,binary(0),YES,,NULL,
EXTERNAL_LANGUAGE,varchar(64),NO,,SQL,
PARAMETER_STYLE,varchar(3),NO,,,
IS_DETERMINISTIC,varchar(3),NO,,,
SQL_DATA_ACCESS,"enum('CONTAINS SQL','NO SQL','READS SQL DATA','MODIFIES SQL DATA')",NO,,NULL,
SQL_PATH,binary(0),YES,,NULL,
SECURITY_TYPE,"enum('DEFAULT','INVOKER','DEFINER')",NO,,NULL,
CREATED,timestamp,NO,,NULL,
LAST_ALTERED,timestamp,NO,,NULL,
SQL_MODE,"set('REAL_AS_FLOAT','PIPES_AS_CONCAT','ANSI_QUOTES','IGNORE_SPACE','NOT_USED','ONLY_FULL_GROUP_BY','NO_UNSIGNED_SUBTRACTION','NO_DIR_IN_CREATE','NOT_USED_9','NOT_USED_10','NOT_USED_11','NOT_USED_12','NOT_USED_13','NOT_USED_14','NOT_USED_15','NOT_USED_16','NOT_USED_17','NOT_USED_18','ANSI','NO_AUTO_VALUE_ON_ZERO','NO_BACKSLASH_ESCAPES','STRICT_TRANS_TABLES','STRICT_ALL_TABLES','NO_ZERO_IN_DATE','NO_ZERO_DATE','ALLOW_INVALID_DATES','ERROR_FOR_DIVISION_BY_ZERO','TRADITIONAL','NOT_USED_29','HIGH_NOT_PRECEDENCE','NO_ENGINE_SUBSTITUTION','PAD_CHAR_TO_FULL_LENGTH','TIME_TRUNCATE_FRACTIONAL')",NO,,NULL,
ROUTINE_COMMENT,text,NO,,NULL,
DEFINER,varchar(288),NO,,NULL,
CHARACTER_SET_CLIENT,varchar(64),NO,,NULL,
COLLATION_CONNECTION,varchar(64),NO,,NULL,
DATABASE_COLLATION,varchar(64),NO,,NULL,
